<!DOCTYPE html>
<html>
<head>
  <title>GREENZ</title>
  <meta charset="utf-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/cart.css" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@300&display=swap" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/static/js/cart.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9F99RNZ84F"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-9F99RNZ84F');
    </script>
  <style>
  </style>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
          <div class="navbar-header page-scroll">
              <button type="button" class="navbar-toggle">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand-md page-scroll nav-logo" href="/greenz/">GREENZ</a>
          </div>

          <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                  <li class="hidden">
                      <a class="page-scroll nav-button" href="#page-top"></a>
                  </li>
                  <li>
                      <a class="page-scroll nav-button" href="/greenz/product/">Product</a>
                  </li>
                  <li>
                      <a class="page-scroll nav-button" href="/greenz/recipe/">Recipe</a>
                  </li>
                  <li>
                      <a class="page-scroll nav-button" href="/greenz/restaurant/">Restaurant</a>
                  </li>
                  <li>
                      <a class="page-scroll nav-button" href="/greenz/cart/">Cart</a>
                  </li>
                  <li>
                      <a class="page-scroll nav-button" href="/greenz/mypage/">My Page</a>
                  </li>
                  <li>
                      <a class="page-scroll nav-button" href="/greenz/login/">{{text}}</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>

  <div class="container" id="one_line">
    <h1 class="name">Cart</h1>
    <div class="row">

        {% if not cart_items %}
        <div class="col-sm-12">
            <div class="text-center">
                <br>
                <h1 class="text-center">
                    Your shopping cart is empty!
                </h1>
            </div>
        </div>
    </div>
</div>

        {% else %}
        <hr id="hr1">
            {% for cart_item in cart_items %}
            <div class="col-sm-12">
                <img class="img" src="{{cart_item.product.image}}" width="150" height="150" class="img-rectangle">
                <h4 class="cart_name">{{cart_item.product.name}}</h4>
                <form class="form-inline sum">
                    <div class="form-group">
                        <button class="btn btn-default sum_button" type ="button" onclick="CalCountplus{{ cart_item.id }}({{ cart_item.id }})">+</button>
                        <input type="text" class="form-control" id="cart_count{{ cart_item.id }}" style="background-color: white;
  font-size: large;
  text-align: center;
  width: 60px;
  height: 40px;" value="{{cart_item.quantity}}" readonly="readonly"/>
                        <button class="btn btn-default sum_button" type="button" onclick="CalCountminus{{ cart_item.id }}({{ cart_item.id }});">-</button>
                        <h4 id="cart_price{{ cart_item.id }}" style="display: inline;
  margin-left: 70px;
  font-weight: bold;
  font-size: x-large;">{{ cart_item.product.cost}}</h4>
                    </div>
                    <script>
                        function CalCountplus{{ cart_item.id }}(seq){
                          var id;
                          var all_money;
                          var money;
                          if(parseInt(seq)=={{ cart_item.id }})
                          {
                            id="cart_count{{ cart_item.id }}";
                            all_money="cart_price{{ cart_item.id }}";
                            money={{ cart_item.product.cost }};
                          }

                          var price=parseInt(document.getElementById(id).value);

                          document.getElementById(id).value=price+1;

                          var num=document.getElementById(id).value;
                          var allprice=(parseInt(num))*parseInt(money);
                          document.getElementById(all_money).innerHTML=allprice;

                          document.getElementById("sk").innerHTML=parseInt(document.getElementById("sk").innerHTML)+parseInt(money);
                          document.getElementById("result_price").innerHTML=parseInt(document.getElementById("sk").innerHTML)+2000;

                        }
                        function CalCountminus{{ cart_item.id }}(seq){
                          var id;
                          var all_money;
                          var money;
                          if(parseInt(seq)=={{ cart_item.id }})
                          {
                            id="cart_count{{ cart_item.id }}";
                            all_money="cart_price{{ cart_item.id }}";
                            money={{ cart_item.product.cost }};
                          }

                          var price=parseInt(document.getElementById(id).value);

                          document.getElementById(id).value=price-1;

                          var num=document.getElementById(id).value;
                          var allprice=(parseInt(num))*parseInt(money);
                          document.getElementById(all_money).innerHTML=allprice;

                          document.getElementById("sk").innerHTML=parseInt(document.getElementById("sk").innerHTML)-parseInt(money);
                          document.getElementById("result_price").innerHTML=parseInt(document.getElementById("sk").innerHTML)+2000;

                        }
                    </script>
                </form>
                <hr>
            </div>
            {% endfor %}
    </div>
</div>

  <div class="container" id="two_line">
    <p style="display: inline;"> the amount of goods <p style="display: inline;" id="sk">{{ noship_total|floatformat }}</p></p>
    <p style="display: inline;"> The delivery charge <p style="display: inline;">2000</p></p>
    <h3 style="display: inline;"> Estimated amount of payment <p style="display: inline;" id="result_price">{{ ship_total|floatformat }}</p></h3>
  </div>

  <div class="container" id="three_line">
    <a id="jm" href="/greenz/buy/{{cart_id}}" class="btn btn-default">Ordering a product</a>

  </div>

  {% endif %}

  <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <h6>(Inc)Oho</h6>
                    <p class="text-justify">Business registration number: 120-00-12345 <br>
                    hosting services: Oho Corporation | Online Marketing Business Report Number: 1234-cbnu-56789 <br>
                    28644 1, Chungdae-ro, Seowon-gu, Cheongju-si, Chungcheongbuk-do (S4-1, College of electrical and computer engineering BID.3) <br>
                    Customer Service: 1, Chungdae-ro, Seowon-gu, Cheongju-si, Chungcheongbuk-do (S4-1, College of electrical and computer engineering BID.3)</p>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by.
                    </p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
